

.active{
    display: inherit;
}

.no-active{
    display: none;
}


.img-gallery{
    margin: 40px;

}

.slides-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;       
    height: 640px; 
    
}

.slides{
    display: flex;
    flex-direction: row;
    justify-content: center;      
    width: 800px;   
    z-index: 1;
}

.slide{
    width: 1000px;
    height: 640px;    
    position: absolute;
}

.arrow-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;    
   
}

.arrow{
    text-decoration: none;
    font-size: 35px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 25;
}

.refs-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -50px;
    height: 50px;
    
}

.ref{
    margin: 10px;
    font-size: 15px;
    z-index: 25;
}

